.navbar {
  padding: 10px;
  padding-bottom: 9.5px;
  background-color: rgba(39, 40, 60, 1);
  border-bottom-right-radius: 14px;
  margin-bottom: 16px;
  margin-left: -20px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.admin-name {
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
  color:white;
}

.mobile-nav .container-fluid {
  display: flex !important;
  justify-content: flex-end !important;
}
